body {
    display : flex;
    flex-direction : column;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    font-size : 62.5%;
    background-size : cover;
    background-image: url("./letters.jpg");
}

button {
    display : flex;
    background-color: #633f2d;
    color : white;
    border : none;
    border-radius: 5px;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align : center;
    margin: auto;
    padding : 1rem;
}

button:hover{
    transform: scale(1.1);
    transition-duration: 0.3s;
}

h1 {
    font-size : 5rem;
    font-weight : bolder;
    text-transform : uppercase;
    text-align : center;
    text-shadow : 1px 1px 10px white;
    margin: 3% auto;
}

input {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    height : 2rem;
}

strong {
    font-weight : bold;
    text-transform : uppercase;
    margin-right: 1rem;
} 

.form-row, #answer {
    display : flex;
    justify-content : center;
    background-color : white;
    font-size: 2rem;
    text-align : center;
    padding : 1%;
    margin :3% auto;
    width : 50%;
}

#extras {
    display : flex;
    justify-content : center;
    align-items : center;
    margin: 3% auto;
}

#extras div {
    display : flex;
}

#extras div label {
    margin-left : 1.5rem;
    color : white;
    text-shadow : 2px 2px 5px black;
}

#extras div label,
#extras div input {
    display : flex;
    align-self : center;
    font-size : 1.5rem;
}